<!--<md-toolbar color = "primary">{{ title }}</md-toolbar>-->




<!--The content below is only a placeholder and can be replaced.-->
<!--<div id="whole-grid">-->
<!--      <div id="left-col">-->
<!--          <form class="example-form">-->
<!--            <md-form-field class="searchBar">-->
<!--            <input [(ngModel)]= "actor" name ="bro" mdInput placeholder="Search for an actor" -->
<!--             #box (keyup.enter)="search(box.value)">-->
<!--            </md-form-field>-->
<!--          </form>-->
<!--        </div>-->
<!--</div>-->