#entire-grid {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: repeat(5, 20%);
}

#left-column {
   grid-column:  1;
   grid-row: 2/5;
}

#center {
    grid-column: 2;
    grid-row: 2/5;
}

#right{
    grid-column: 3;
    grid-row: 2/5;
}
